@model UPC1_20190140098.Models.Transaksii

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaksii</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdObat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdObat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglTransaksi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglTransaksi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPembeliNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPembeliNavigation.IdPembeli)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTransaksii">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
