@model UPC1_20190140098.Models.TableNota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TableNota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNotaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNotaNavigation.IdNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTransaksiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTransaksiNavigation.IdTransaksii)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdNota">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
